<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Datos de puestos</title>
        <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
                <link th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" rel="stylesheet"/>
                <link th:href="@{/webjars/font-awesome/css/all.css}" rel="stylesheet"/>
                <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
                <script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
                <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>           
                <link href="../css/styles.css" rel="stylesheet" type="text/css"/>
        <link href="/css/stylesCandidatos.css" rel="stylesheet" type="text/css"/>
        
        
    </head>
    <body>
        <header th:replace="layout/plantilla :: header"></header> 
        <article th:replace="layout/PlantillaPuestos :: detallePuestos"></article>
        <section th:replace="layout/plantilla :: footer"></section>
    </body>
</html>
