body{
   position: static;
   margin: 0;
   padding: 0;
   width: 100%
}

.article-matri{
    margin: 15px 0 0 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.form-matri{
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    position: absolute;
}

label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}

input {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    border-style: solid;
    border-color: #BBB372;
    margin-left: 10px
}

input[type="submit"] {
    font-weight: bold;
    background-color: #ffcc00;
    color: #000;
    cursor: pointer;
    border:none;
    width: 80%;
}

.button-login {
    background-color: #CCD264;
    color: #000;
    cursor: pointer;
    border:none;
    padding: 10px;
    margin-left: 40px
}


input[type="submit"]:hover {
    background-color: #007bff;
    color: #000;
    
}

.button-login:hover {
    background-color: #007bff; 
    color: #000; 
}

.button-login a:hover {
    color: #fff; 
}


@media (min-width: 768px) {
    .form-matri {
        width: 550px;
    }
}

.textarea-contac{
    border-style: solid;
    border-width: 2px;
    border-color: #BBB372;
    margin: 0 0 0 10px;
    width: 100%;
}
/*STYLES PARA TABLAS*/
table{
    text-align: center;
    margin: 0 auto;
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.table-container {
    width: 80%;
    border-collapse: collapse;
    margin-top: 20px;
}

th {
    background-color: #CCD264;
    padding: 10px;
    text-align: left;
    font-weight: bold;
    border: 1px solid black;
    text-align: center;
}

td {
    background-color: #ffv;
    padding: 10px;
    border: 1px solid black; 
}

.tarjet-container{
    background-color: #fff;
    padding: 20px;
    margin-top: 30px;
    margin-left: 15%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 65%;
    border-collapse: collapse;
    align-items: center;
}

.actions-column {
    width: 1%;
    white-space: nowrap;
}

.tarjet{ 
    margin: 20px auto;
    width: 100%;
}
.btn{
    background: #ffcc00;/*Amarillo*/
    color: #000;
    font-weight: bold;
    margin-bottom:  10px;
}


.btn:hover{
    background-color: #007bff;
    color: #000; /* Color azul */
}
select{
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    border: 2px solid #BBB372;
    cursor: pointer;
}
