<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head th:fragment="head">
        <title>Bienvenido a Emtech</title>
        <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
                <link th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" rel="stylesheet"/>
                <link th:href="@{/webjars/font-awesome/css/all.css}" rel="stylesheet"/>
                <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
                <script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
                <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>           
                <link href="/css/styles.css" rel="stylesheet" type="text/css"/>
                </head>
                <body>          
                    <header th:fragment="header" class="header">
                        <div class="logo">
                            <a href="/"><img src="/img/logo_ejecutivo.jpg" alt=""></a>
                        </div>
                        <nav>
                            <ul class="navbar">
                            <li class="nav-item dropdown">
                                <a class="a_navbar nav-link dropdown-toggle me-4 fs-3" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">Catalogo</a>
                                <ul class="dropdown-menu" style="background-color: #white; " aria-labelledby="navbarDropdown">
                                    <li><a class="a_navbar dropdown-item" href="/servicios" >Servicios</a></li>
                                    <li><a class="a_navbar dropdown-item" href="/puestos" >Puestos</a></li>
                                    <li><a class="a_navbar dropdown-item" href="/candidatos" >Candidatos</a></li>
                                </ul>
                                
                                <a class="a_navbar nav-link dropdown-toggle me-4 fs-3" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">Reportes</a>
                                <ul class="dropdown-menu" style="background-color: #white; " aria-labelledby="navbarDropdown">
                                    <li><a class="a_navbar dropdown-item" href="/listaServicios" >Lista de servicios</a></li>
                                    <li><a class="a_navbar dropdown-item" href="/listaPuestos" >Lista de puestos</a></li>
                                    <li><a class="a_navbar dropdown-item" href="/listaCandidatos" >Lista de candidatos</a></li>
                                </ul>
                                
                            </li>
                            </ul>
                        </nav>
                    </header>
                    <main>

                    </main>
                    <footer th:fragment="footer">
                        <p>Derechos Reservados &copy; 2023</p>
                        Proyecto Administración de Bases de Datos. Fidélitas
                    </footer>
                </body>
                </html>